* {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

.counter-container {
    text-align: center;
}

.counter-button {
    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;

    cursor: pointer;

    padding: 12px;
    margin: 10px;
}

.counter-button:hover {
    background-color: green;
}